#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border: 1px solid red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

header {
  background-color: #2E8B57; /* Verde pizarra de escuela */
  color: white;
  padding: 10px 0;
  border: 1px solid red;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
}

footer {
  background-color: #2E8B57; /* Verde pizarra de escuela */
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid red;
}


ul {
  list-style: none;
  padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

